.ui-button.nx-button-secondary.ui-state-active, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-active, .ui-button.nx-button-secondary.ui-state-hover, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-hover, .ui-button.nx-button-secondary.ui-state-focus, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-focus {
    color:black;
}

/*@media screen and (min-width: 600px) {

#sk-2RKpje-368 {display: block;}

}*/
@media screen and (max-width: 555px) {

#sk-2RKpje-368 {display: none;}

}

/*@media screen and (max-width: 375px) {

    #sk-2RKpje-368 { display: block !important; }
    
    .testMedia{ 
        
    }

}*/

.nx-pagetitle-subtitle {

    line-height: inherit !important;
}

.cc-content-wrapper-footer {
    margin: auto;
    max-width: 1160px;
}
/*
#sk-3xZ9cC-195 {
    direction: rtl; 
}
#divTab{
    border-width:4px;
    border-color:#F0CB6E;
    border-style: solid;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.ui-helper-clearfix:after {
    content:"";
    display:none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover{
    border-bottom:5px solid #333;
}
.sk-footerwrapper {
    position: relative;
}


#leftPanelDiv{
    background-color: #36486b;
    min-height:800px;
    width:250px !important;
}

#sizeMain{
    font-size: 20px ;
    font-weight: bold;
}
#sizeRight{
    font-size: 10px ;
    font-weight: normal;
}
#sizeRight1{
    font-size: 10px ;
    font-weight: normal;
    color:black;
}
.listButton  {
    color: black;
    background: burlywood !important;
    padding: 10px 14px 5px 12px;
}

*/
/*@media only screen and (max-width: 375px) {
    #main-nav {
        display:none;
    }
    #main-nav-mobile{
        display: inline-block;
    }
}*/
/*@media only screen and (min-width: 376px) {
    #main-nav-mobile {
        display:none;
    }
    #main-nav{
        display: inline-block;
    }
}*/

.sk-navigation.sk-navigation-dropdown.sk-dropnav.overflow{
    border-top: 0px solid rgb(204, 204, 204) !important; 
    border-bottom: 0px solid rgb(204, 204, 204) !important;
    
}
.main-nav{
    font-size:13px;
}
@media only screen and (max-width: 600px) {
    .headerWrapper {
        max-width:95%;
    }
    .headerGrid{
        flex:0 1 auto!important;
    }
}
#sk-lY2-1094 {
    background-color: #ffffcc;
}
