#div.nx-basicfieldeditor-section-body>div.nx-basicfieldeditor-item>.nx-field, div.nx-basicfieldeditor-item>.nx-field {
    width: 70%;
    /* margin: 0px; */
}

#FieldEditor{
    font-weight:bold;
    line-height:2.2em;
    font-size:15px;
}

#FieldEditor.nx-field{
 margin-top:13px;   
}

#FieldEditor1{
    font-weight:bold;
    line-height:2.2em;
    font-size:15px;
}

#FieldEditor1.nx-field{
 margin-top:13px;   
}

.nx-basicfieldeditor-item.MainCSS{
 margin-top:16px !important;   
}

/*For Sorting*/
.nx-skootable-order-icon-wrapper
{
    float:left;
    margin-right: 10px;
}

.cke_chrome {
    display: block;
    padding: 0;
    border: 1px solid #a1a1a1;
    box-shadow: none;
}
.ui-dialog .ui-widget-header {
    border-bottom: 0px;
}
#sk-18BRW4-260{
    font-weight:bold;
    color: #16325c;
    font-size: 13pt;
}
#sk-17YI73-445{
    font-size: 11pt;
    font-weight: normal;
    color: #54698d;
    margin-bottom:4%;
}
.servicename{
    font-size: 11pt;
    
}
.visibleclass{
    font-size: 11pt;
    font-weight: normal;
    color: #54698d;
}
.nx-field .input{
    margin-top: 4%;
}
#sk-2l8RKS-301 {
    font-size: 10pt;
    color: #0070d2;
}

.nx-basicfieldeditor-section-body{
    padding-left: 20px;
   
}

.nx-basicfieldeditor-section-header {
    padding-left: 20px;
}
.nx-field select {
    padding-bottom: 5px !important;
padding-top:5px !important;
padding-left: 5px !important;
width: 46px !important;
font-size : 15px !important; 
    
}

.DesignCat3{
     padding :1px 1px 1px 1px!important;
     font-size: 1em !important;
     margin: 1px 1px 1px 1px!important;
    }
#sk-17ijyB-414{
   margin: 1px 1px 1px 1px!important; 
} 

.AmountCurrency .nx-field select{
     width:65px !important;
}

.StandHeight{
    display: inline;
    width:50%;
    
}
.RiggingHeight{
    display: inline;
    width:50%;
}

.nx-field StandHeight{
    width: 40% !important;
}
.nx-field required{
    width:4% !important;
}

.nx-field RiggingHeight{
    width: 40% !important;
}
.nx-field required{
    width:4% !important;
}
.bradcom {
    margin: 0px !important;

background-image: url("../resource/bredcom_arrow") !important;
background-repeat: no-repeat !important;
background-position: right !important;
color: #000 !important;
border : none !important;
padding: 0px !important;
background-color: transparent !important;
}

.bradcom:hover {
    background-image: url("../resource/bredcom_arrow_hover") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-color: transparent !important;
}

.bradcom span{
line-height: 40px !important;
width: auto !important;
font-weight: 400 !important;
}
.BradComBorder {
    border-top : 1px solid #ccc !important;
    border-bottom : 1px solid #ccc !important;
}

.BradComBorder .sk-button-action{
    margin-top : 0px !important;
}
.standHeight {
   position: absolute;
    left: 34%;
    width: 70px;
    top: 178px;
}
.standHeight select {
  border: 1px solid #d8dde6;
}

.standHeight .nx-basicfieldeditor-item-label-editing.required:before
{
    color:white;
}
.riggingHeight {
   position: absolute;
    left: 34%;
    width: 70px;
    top: 248px;    
}
.riggingHeight select {
  border: 1px solid #d8dde6;
}
.maxupload select {
    padding: 0;
    width: 52px!important;
    display: block;
}
.maxupload  .nx-basicfieldeditor-item-label-editing.required:before
{
    color:white;
}

.riggingHeight .nx-basicfieldeditor-item-label-editing.required:before
{
    color:white;
}

.standHeightMain .nx-basicfieldeditor-item-label-editing.required:before
{
    display:none;
}

.riggingHeightMain .nx-basicfieldeditor-item-label-editing.required:before
{
    display:none;
}
.nx-basicfieldeditor-item-label{
    padding: .5rem .5rem .5rem 0!important;
}
.nx-editor input[type=checkbox]{
    margin-top: 0!important;
}
