.ui-button.nx-button-secondary.ui-state-active, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-active, .ui-button.nx-button-secondary.ui-state-hover, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-hover, .ui-button.nx-button-secondary.ui-state-focus, .ui-widget-content .ui-button.nx-button-secondary.ui-state-default.ui-state-focus {
    color:black;
}

/*@media screen and (min-width: 600px) {

#sk-2RKpje-368 {display: block;}

}*/
@media screen and (max-width: 555px) {

#sk-2RKpje-368 {display: none;}

}

/*@media screen and (max-width: 375px) {

    #sk-2RKpje-368 { display: block !important; }
    
    .testMedia{ 
        
    }

}*/

.nx-pagetitle-subtitle {

    line-height: inherit !important;
}

.cc-content-wrapper-footer {
    margin: auto;
    max-width: 1160px;
}

#sk-1_lA-2345{
    height:800px;
}
.ext-webkit.ext-chrome
{
    padding:0px !important;
}
/*
#sk-3xZ9cC-195 {
    direction: rtl; 
}
#divTab{
    border-width:4px;
    border-color:#F0CB6E;
    border-style: solid;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.ui-helper-clearfix:after {
    content:"";
    display:none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover{
    border-bottom:5px solid #333;
}
.sk-footerwrapper {
    position: relative;
}


#leftPanelDiv{
    background-color: #36486b;
    min-height:800px;
    width:250px !important;
}

#sizeMain{
    font-size: 20px ;
    font-weight: bold;
}
#sizeRight{
    font-size: 10px ;
    font-weight: normal;
}
#sizeRight1{
    font-size: 10px ;
    font-weight: normal;
    color:black;
}
.listButton  {
    color: black;
    background: burlywood !important;
    padding: 10px 14px 5px 12px;
}

*/
/*@media only screen and (max-width: 375px) {
    #main-nav {
        display:none;
    }
    #main-nav-mobile{
        display: inline-block;
    }
}*/
/*@media only screen and (min-width: 376px) {
    #main-nav-mobile {
        display:none;
    }
    #main-nav{
        display: inline-block;
    }
}*/

.sk-navigation.sk-navigation-dropdown.sk-dropnav.overflow{
    border-top: 0px solid rgb(204, 204, 204) !important; 
    border-bottom: 0px solid rgb(204, 204, 204) !important;
    
}
.main-nav{
    font-size:13px;
}
@media only screen and (max-width: 600px) {
    .headerWrapper {
        max-width:95%;
    }
    .headerGrid{
        flex:0 1 auto!important;
    }
}
#sk-lY2-1094 {
    background-color: #ffffcc;
}
/*Hide additional row action icon column*/
.cc-hidden-action-column td:nth-of-type(2) {
    display: none;
}
.cc-hidden-action-column th:nth-of-type(2) {
    display: none;
}
.sk-button-action {
    margin: 0 0 4px -4px;
}
/* Overide pop up title bar styles*/
.ui-dialog .ui-dialog-titlebar {
    margin: 30px;
    position: relative;
    color: #333333;
    font-weight:bold;
    font-size: 22px;
    padding-bottom:12px;
    padding-left:0px;
    padding-top:0px;
    border-bottom: 3px solid rgb(153, 153, 153)
}
.ui-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close .ui-icon {
    color: #999999;
}
.ui-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close {
    margin: 0.4em -0.1em;
    padding:0;
}
.cc-profile-popup-wrapper {
    padding-top:30px;
    padding-right:20px;
}
/* Overide rich text editor heights*/
.cc-profile-rich-text .nx-richtext-input {
    height: 183px;
}
.countrycode {
    margin-top: -43px;
    margin-left: 101px;
}
.countrycode1 {
    margin-top: -43px;
    margin-left: 101px;
}

.nx-basicfieldeditor-item {
    padding: 2px 8px;
}
/*
.hideLabel .hideLabel .nx-basicfieldeditor-item-label{
    display:none !important;
}
.padding{
     /*padding-left: 15px;
     padding-left: 5px;
     padding-top: 3px;
}
/*
.boxed3 {
    border-style: outset;
    border-radius: 10px;
    border: 1px solid ridge;
}

.size1{
    font-size: 20px ;
}
#sk-1mxJmV-543{
    height:300px;
}
*/
/*
.DecPadding .sk-deck article {
    padding: .1em;
    border: 0 solid #bbb;
}
.DecFooter .nx-list-footer {
    visibility: hidden;
}
*/
/*
.sk-navigation-item > a {
    margin: 0px 0px;
    padding:  0 1.5rem 0 .6rem;
    font-weight: 600;
    background-image: url("../resource/bredcom_arrow");
    background-repeat: no-repeat;
    background-position: right;
    font-size: 15px;
    color: black;
}

.sk-navigation-item > a:hover {
    background-image: url("../resource/bredcom_arrow_hover");
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
}

.sk-navigation-item {
    margin: 0px 3px;
}

.sk-navigation > .sk-navigation-item:hover, .sk-navigation > .sk-navigation-item:focus {
    background:  none repeat scroll 0 0;
}
.sk-navigation-horizontal {
    border-top: 0px solid #d8dde6; 
    line-height: 30px !important;
    border-bottom: 0px solid #0070d2; 
}
*/
#sk-1slPRH-991{
    margin-top:10px;
}


/* added on June 27, 2018*/

#sk-NIbsF-920 .ui-button-text{
    background-color: #ebebeb !important;
    color:blue !important;
}

#sk-NIbFw-911  span.ui-button-icon-primary .ui-icon .sk-icon-page-import .sk-icon .inline{
    background-color: #ebebeb !important;
    color:blue !important;
}

#sk-NIbsF-920 .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-primary
{
    background-color: #ebebeb !important;
}

#sk-NIbsF-920  .ui-button-.icon-primary .ui-icon .sk-icon-page-import .sk-icon inline
{
     background-color: #ebebeb !important;
     color: blue !important;
}

#sk-1sck1y-647{
    width: 230px;    
}

#sk-1seFoT-679{
    width: 230px;    
}

#sk-NIbsF-920{
    width: 230px;    
}

#sk-1yaHPF-1322{
    width: 180px;    
}

#sk-12x3GR-862{
    width: 180px;    
}

.cc-badge-table {
     direction: rtl; 
     
}



.cc-badge-table td:first-child {
    text-align: right;
}

.cc-badge-table td {
     text-align: left; 
     }
     
.sk-icon.fa.fa-pencil.inline.nx-skootable-buttonicon-visible {
    background-color: #0072bc !important;
    color: White !important;
    padding: 5px;
    border-radius: 3px;
}

.sk-icon.fa.fa-close.inline.nx-skootable-buttonicon-visible {
    background-color: #585858  !important;
    color: White !important;
    padding: 5px;
    border-radius: 3px;
}

.badgesTable.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
    border-color: #ebebeb !important;
}



/* Start Badges Table Styling */
/*
table.nx-skootable-data tbody td, table.nx-skootable-data thead td {
    background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding: 15px 0px 15px 10px;
}
*/
.badgesButton{
    font-weight:700;
}
.badgesDiv{
    padding-right: 140px;
    padding-left: 21px;
}
.divTemplate{
    padding-left: 8px;
    padding-right: 8px;
}
.badgesAllotmentHeading{
    position: relative;
    border: 0;
    padding: 0 17px;
    background: 0;
    overflow: auto;
}
.badgesAllotmentWrapperPopup{
    position: relative;
    border: 0;
    padding: 0 17px;
    background: 0;
    overflow: auto;
}
/*page wise changes*/
.ui-dialog .ui-dialog-titlebar{margin: 10px 30px 0 30px !important;}
.ui-dialog .ui-dialog-content { padding: 0 17px !important;}
#sk-1yKDAC-881{
    width: 99%;
    border-top: 3px solid rgb(153, 153, 153);
    padding-top: 15px;
    margin-left: 12px;
}
.badges-btn{padding-top: 65px; padding-right: 10px;}
.badges-advance-css{position: absolute; right: 310px;}
.import-badges-advance-css{position: absolute; right: 54px;}
.or-advance-css{position: absolute; right: 280px; top: 70px;}
.view-badges-advance-css{position: absolute; right: 359px;}
.BadgeAllotmentClass .nx-editor-contents > table > tbody > tr > td:nth-child(2) {
    padding-left: 45px;
}
.grey-btn {
        background: #333!important;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600 !important;
    border: none !important;
    cursor: pointer !important;
    padding: 3px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Model Window -createBadge */
#sk-1ed7L6-1066 .nx-list-footer {
        display: none !important;
}
/* Model Window -createBadge */
#sk-1ed7L6-1066 .sk-deck article
{
    border : none !important;
}
/* Model Window -createBadge */
#sk-1BoF3h-952 .nx-basicfieldeditor-item-label {
    width: 25%;
    padding-top: 15px;
}
/* Model Window -createBadge */
#sk-1SPh2E-4110 .sk-buttonset-group
{
    padding-top: 15px;
}

/* End Badges Table Styling */
/*
.nx-actionselect-label{
    position: absolute;
    color: #0288d1;
    top: -3px;
    font-weight: normal;
    font-size: 2.0em;
   /* margin-left:-119px;
    margin-left:-145px;
    text-transform: none
}

#sk-3K_rFu-391.nx-editor{
    color:red !important;
    font-weight:bold;
    font-size:16px;
}

#sk-3l7-DI-616.nx-editor{
     color:red !important;
     font-weight:bold;
     font-size:16px;
}

div.nx-actionselect {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: .81em;
    /*margin: 0 700px 6px 0;
    box-shadow: 0 0 6px 2px #DDD;
    vertical-align: middle;
    margin-left: 0px;
    
} 

.nx-conditioncontainer {
    float: left;
    text-align: center;
    margin: 2px 0 0 0;
}

div.nx-basicfieldeditor-section-body>div.nx-basicfieldeditor-item>.nx-field, div.nx-basicfieldeditor-item>.nx-field {
    width:100%;
}
#tableDiv{
    border: 2px solid black;
}
table.nx-skootable-data th{
    font-weight: bold;
    color:black;
}
.nx-editor-header input.searchbox {
    width: 250px;
}
.nx-basicfieldeditor-item-label {
    color:black !important;
    font-weight:bold;
}
.nx-basicfieldeditor-item-label {
    width: 32%;
}
.ui-button .ui-button-text {
    /*padding: 0 1rem 0 1rem;*/
    /* background: #ffcb2f !important; 
    color: black;
    font-weight:bold !important;
}
.ui-button, .ui-widget-content .ui-button.ui-state-default {
   /* border: 2px solid #ffcb2f !important; 
}    
*/
@media only screen and (max-width: 600px) {
   #sk-1yQmHa-1169 .divPicklist{
        margin-left:20px!important;
        width: 100%;
        padding-bottom: 6px;
    }
 
}
@media only screen and (max-width: 876px) {
      #sk-1yQmHa-1169 .divReturn {
        padding-bottom: 8px;
    }
     #sk-1tGDXX-1101,#sk-134giT-1625,#sk-1seFKT-673{
         margin-left:20px!important;
    }
    #sk-1sck1y-647{
         margin-left:24px!important;
    }
}
.nx-error {
    background: white !important;
    color: red !important;
   
}
/* Hide the inline error message for required fields */
.nx-error-inline {
    display: none !important;
}

/* hide the default error messsage for the required fields */
#sk-1SPh2E-4110 .nx-error{
    display: none !important;
}
