@charset "utf-8";
/* CSS Document */

.packages lightning-helptext{display:none;}
.packages lightning-input-field{margin-bottom: 10px;display: block;}
.packages input[type=text]{width:80px;}
.tab2 input[type=text]{width:120px;}
.tab2 lightning-helptext{display:none;}
/**  Sunil**/
