.bradcom {
    margin: 0px !important;

background-image: url("../resource/bredcom_arrow") !important;
background-repeat: no-repeat !important;
background-position: right !important;
color: #000 !important;
border : none !important;
padding: 0px !important;
background-color: transparent !important;
}

.bradcom:hover {
    background-image: url("../resource/bredcom_arrow_hover") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-color: transparent !important;
}

.bradcom span{
line-height: 40px !important;
width: auto !important;
font-weight: 400 !important;
}
.BradComBorder {
    border-top : 1px solid #ccc !important;
    border-bottom : 1px solid #ccc !important;
}

.BradComBorder .sk-button-action{
    margin-top : 0px !important;
}
