#div.nx-basicfieldeditor-section-body>div.nx-basicfieldeditor-item>.nx-field, div.nx-basicfieldeditor-item>.nx-field {
    width: 70%;
    /* margin: 0px; */
}

#FieldEditor{
    font-weight:bold;
    line-height:2.2em;
    font-size:15px;
}

#FieldEditor.nx-field{
 margin-top:13px;   
}

#FieldEditor1{
    font-weight:bold;
    line-height:2.2em;
    font-size:15px;
}
.boothProduct .ui-multiselect{
     width:41% !important ;
}

#FieldEditor1.nx-field{
 margin-top:13px;   
}

.nx-basicfieldeditor-item.MainCSS{
 margin-top:16px !important;   
}

/*For Sorting*/
.nx-skootable-order-icon-wrapper
{
    float:left;
    margin-right: 10px;
}

.cke_chrome {
    display: block;
    padding: 0;
    border: 1px solid #a1a1a1;
    box-shadow: none;
}
#sk-1XPFdu-557{
    float:left;
}

#sk-1XRHGI-594{
    font-weight:bold;
    color: #16325c;
    font-size: 13pt;
}
#sk-1XRP8s-599{
    font-size: 11pt;
    font-weight: normal;
    color: #54698d;
    margin-bottom:4%;
}
.nx-field .input {
    margin-top: 4%;
}
.ui-dialog .ui-widget-header {
    border-bottom: 0px;
}

/*.DisableInfo{
     margin-left: 3%;
}*/
.nx-editor select {
    border-color: #c7ceda;
    border-radius: 4px;
    height: 27px;
}
.slds-hide{
    display:none;
}
.bradcom {
    margin: 0px !important;

background-image: url("../resource/bredcom_arrow") !important;
background-repeat: no-repeat !important;
background-position: right !important;
color: #000 !important;
border : none !important;
padding: 0px !important;
background-color: transparent !important;
}

.bradcom:hover {
    background-image: url("../resource/bredcom_arrow_hover") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-color: transparent !important;
}

.bradcom span{
line-height: 40px !important;
width: auto !important;
font-weight: 400 !important;
}
.BradComBorder {
    border-top : 1px solid #ccc !important;
    border-bottom : 1px solid #ccc !important;
}

.BradComBorder .sk-button-action{
    margin-top : 0px !important;
}
.nx-basicfieldeditor-item-label{
    padding: .5rem .5rem .5rem 0!important;
}
.nx-editor input[type=checkbox]{
    margin-top: 0!important;
}
